
<input id = "text" placeholder="Digite aqui sua mensagem...">
<button onclick="enviar()">Enviar</button>

<ul id="msgs">
</ul>

<script>
name = "<%=name%>"
</script>
<script src="/js/chat.js"></script>
