<html>
  <title> poggers chat </title>
  <head>

    <meta content="Buy high quality weed online" property="og:title">
    <meta content="Buy weed online with the best price" property="og:description">

    <meta charset="UTF-8">
    <meta name= "viewport", content="width=device-wodth,initial-scale=1">


  </head>

  <body>
    <%=yield%>
  </body>
</html>
